body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Times New Roman";
    margin: 0px;
    text-align: center;
}

a, .footer {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.header, .container-1, .footer {
    background-color: #1f2937;
    display: flex;
}

.title-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

ul.links, .text-1 {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size:  24px;
    color: #f9faf8;
}

.header {
    justify-content: space-evenly;
}

ul.links {
    align-items: center;
}

/* Now completing section 1 */

.container-1 {
    align-items: center;
    display: flex;
    justify-content: center;
}
.content-1 {
    display: flex;
    flex-direction: column;
    margin: 16px 8px;
    
    padding: 32px;
    align-items: center;
    
    flex-grow: 1;
}

img {
    width: 100px;
    height: 100px;
}
.images {
    flex-grow: 1;
}

.button-1 {
    background-color: #3882f6;
    border-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.title-2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 16px;
}

/* Section 2 */
.container-2 {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 700px;
}

.content-2 {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2 img {
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.text-2 {
    font-size: 15px;
    display: flex;
}
/* Section 3 */

.content-3 {
    background-color: #e5e7eb;
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-3, .quote-author {
    width: 700px;
}

.text-3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    
}

.quote-author {
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}

/* Section 4 */


/* Footer */
.footer {
    padding: 26px;
    display: flex;
    justify-content: center;
}
