body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Times New Roman";
    margin: 0px;
    text-align: center;
}

a, .footer {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.header, .container-1, .footer {
    background-color: #1f2937;
    display: flex;
}

.title-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px 0px -8px 0px;
}

ul.links, .text-1 {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size:  24px;
    color: #f9faf8;
    font-weight: bold;
}

.header {
    justify-content: space-around;
    padding: 8px 0px;
}

ul.links {
    align-items: center;
}

/* Now completing section 1 */

.container-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}



.content-1 {
    display: flex;
    flex-direction: column;
    margin: 32px 16px 32px 160px;
    
    padding: 15px;
    align-items: flex-start;
    justify-content: center;
    text-align: left;

    position: relative;
}

img {
    width: 100px;
    height: 100px;
}

.img1 {
    background-color: grey;
    padding: 85px 120px;
    margin: 0px 190px 0px 0px;
}

.placeholder {
    color: white;
    white-space: nowrap;
}

.button-1 {
    background-color: #3882f6;
    border-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 3px 15px;

}

.text-1 {
    margin: 6px 0px;
}


/* Section 2 */
.title-2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 16px;
    margin-bottom: 32px;
}

.container-2 {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

.content-2 {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.container-2 img {
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.text-2 {
    font-size: 15px;
    display: flex;
    width: 130px;
}
/* Section 3 */

.content-3 {
    background-color: #e5e7eb;
    padding: 80px 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

.text-3, .quote-author {
    max-width: 700px;
    width: 100%;
}

.text-3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    font-weight: bolder;
    text-align: right;
}

/* Section 4 */

.content-4 {
    background-color: #3882f6;
    margin: 100px 150px;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: left;
}

.container-4 {
    display: flex;
    justify-content: space-around;
}

.title-4 {
    font-weight: bold;
    color: #f9faf8;
    margin: 3px 0px;
}

.text-4 {
    color: #e5e7eb;
    margin: 3px 0px;
}

.button-4 {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-radius: 8px;
    padding: 1px 25px;
    font-weight: bold;
}

/* Footer */
.footer {
    padding: 26px;
    display: flex;
    justify-content: center;
}
